.button {
	background-color: $primary-red;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: fit-content;

	&-s {
		padding: 20px 24px;
		border-radius: 5px;
		gap: 24px;
		color: $white;

		@media (max-width: 768px) {
			padding: 16px 20px;
		}
	}

	&-xl {
		position: relative;
		max-width: 550px;
		width: 100%;
		color: $red;
		height: 90px;
		background-color: rgba(237, 77, 71, 0.2);
		border-radius: 10px;
		line-height: 30px;
		font-weight: 700;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 2px;
			background-color: $primary-red;
			right: 35px;
			top: 50%;
			transform: translateY(-50%);
			transition: transform 0.15s ease-in-out;
		}

		&::after {
			transform: translateY(-50%) rotate(90deg);
		}

		@media (max-width: 768px) {
			height: 60px;

			&::before,
			&::after {
				right: 15px;
			}
		}
	}
}
