.form {
	background-color: $white;
	padding: 50px 75px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	border-radius: 10px;
	box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.1);
	max-width: 550px;

	@media (max-width: 768px) {
		max-width: 450px;
		padding: 30px 45px;
	}

	@media (max-width: 425px) {
		padding: 20px 30px;
		gap: 20px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		position: relative;
		gap: 10px;
		width: 100%;

		@media (max-width: 425px) {
			gap: 6px;
		}
	}

	&__label {
		font-weight: 300;
		line-height: 4rem;
		user-select: none;
	}

	&__input {
		border-radius: 5px;
		border: 1px solid rgba(238, 77, 71, 0.5);
		background: #fff;
		padding: 10px 20px 10px 40px;
		margin: 1px 0 1px 0;
		font-weight: 300;
		line-height: 4rem;
		width: 100%;
		transition: border, box-shadow 0.4s ease-in-out, font-weight 0.2s ease-out;

		@media (max-width: 768px) {
			padding: 8px 20px 8px 30px;
		}

		@media (max-width: 425px) {
			padding: 6px 20px 6px 20px;
		}

		&::placeholder {
			font-weight: 300;
			color: $text;
		}

		&:focus {
			border: 2px solid $primary-red;
			margin: 0;
			box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.2);
			font-weight: 700;
		}

		&_invalid {
			border: 2px solid $primary-red;
			margin: 0;
		}
	}

	&__error-message {
		color: $primary-red;
		font-size: 1.3rem;
		height: 5px;
	}

	&__button {
		font-weight: 700;
	}
}
