.nav {
	&__list {
		display: flex;
		gap: 100px;

		@media (max-width: 1024px) {
			gap: 50px;
		}
		@media (max-width: 768px) {
		}
		@media (max-width: 425px) {
		}
	}

	&__link {
		text-transform: uppercase;
		font-family: $font-rubik;
	}
}

.burger {
	display: none;
	width: 26px;
	height: 17px;
	z-index: 10;

	@media (max-width: 768px) {
		display: flex;
		align-items: center;
	}

	&__icon {
		position: relative;
		width: 100%;
		height: 3px;
		border-radius: 10px;
		background: $white;
		transition: all 0.2s ease-in;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			border-radius: 10px;
			background: $white;
			left: 0;

			transition: all 0.3s ease-out;
		}

		&::before {
			transform: translateY(7px);
		}

		&::after {
			transform: translateY(-7px);
		}

		&_active {
			background: none;

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}
