.social {
	&__list {
		display: flex;
		align-items: center;
		gap: 30px;

		@media (max-width: 425px) {
			gap: 25px;
		}
	}

	&__link {
		width: 36px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background: $red;
		transition: all 0.2s ease-out;

		@media (max-width: 425px) {
			width: 32px;
			height: 32px;
		}

		@media (hover: hover) {
			&:hover {
				box-shadow: 0px 3px 8px 0px rgba(238, 77, 71, 0.8);
				transform: scale(1.2);
			}

			&:active {
				transform: scale(1.5);
			}
		}

		@media (hover: none) {
			&:active {
				box-shadow: 0px 3px 8px 0px rgba(238, 77, 71, 0.8);
				transform: scale(1.2);
			}
		}
	}
}
