.title {
	&-s {
		text-transform: uppercase;
		font-family: $font-rubik;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 4rem;
		letter-spacing: 0.24rem;
		color: $primary-red;
	}

	&-l {
		font-family: $font-dm;
		font-size: clamp(5rem, 12vw, 10rem);
		font-weight: 400;
		line-height: clamp(7rem, 12vw, 10rem);
	}
}
