.hero {
	position: relative;

	&__bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		max-width: 100vw;
		will-change: transform;

		& img {
			max-width: 1285px;
			object-fit: cover;

			@media (min-width: 1680px) {
				width: 75vw;
				max-width: none;
				object-fit: fill;
				height: 1000px;
			}

			@media (max-width: 768px) {
				width: 1000px;
				max-width: none;
			}

			@media (max-width: 425px) {
				width: 800px;
			}
		}
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: 190px;
		gap: 60px;

		@media (max-width: 1024px) {
			padding-top: 130px;
		}

		@media (max-width: 768px) {
			text-align: center;
			align-items: center;
			gap: 30px;
		}
	}

	&__title {
		color: $white;
		max-width: 650px;
		z-index: 5;
		will-change: transform;

		@media (min-width: 1680px) {
			max-width: 800px;
		}
	}

	&__button {
		font-weight: 700;
		letter-spacing: 0.08rem;
		will-change: transform;
	}

	&__scene {
		position: absolute;
		right: 240px;
		bottom: -345px;
		z-index: -1;
		will-change: transform;

		@media (max-width: 1440px) {
			right: 150px;
		}

		@media (max-width: 1024px) {
			right: 50px;
			bottom: -245px;
		}

		@media (max-width: 768px) {
			bottom: -345px;
		}

		@media (max-width: 425px) {
			display: none;
		}
	}

	&__woman {
		position: relative;
		z-index: 2;

		@media (max-width: 1024px) {
			height: 400px;
		}

		@media (max-width: 768px) {
			height: 300px;
		}
	}

	&__deliveryman {
		position: absolute;
		z-index: 3;
		top: -5px;
		transform: translateX(-162px);

		@media (max-width: 1024px) {
			transform: translateX(-132px);
			height: 400px;
		}

		@media (max-width: 768px) {
			transform: translateX(-102px);
			height: 300px;
		}
	}

	&__truck {
		position: relative;
		z-index: 4;
		margin-top: 180px;
		transform: translateX(-211px);
		will-change: transform;

		@media (max-width: 1024px) {
			margin-top: 100px;
			width: 650px;
		}

		@media (max-width: 768px) {
			margin-top: 120px;
			width: 450px;
		}

		@media (max-width: 425px) {
			margin-top: 40px;
			transform: translateX(-111px);
			width: 350px;
		}
	}
}
