.footer {
	position: relative;
	margin: 200px 0 0 0;
	padding-bottom: 90px;
	@media (max-width: 1024px) {
		margin: 180px 0 0 0;
		padding-bottom: 40px;
	}

	@media (max-width: 768px) {
		margin-top: 150px;
	}

	@media (max-width: 425px) {
		margin: 100px 0 0 0;
		padding-bottom: 20px;
	}

	&__bg {
		position: absolute;
		z-index: -1;
		top: 110px;
		left: 0;
		overflow-x: hidden;
		max-width: 100vw;
		will-change: transform;

		& img {
			max-width: 1400px;
			object-fit: cover;

			@media (min-width: 1680px) {
				width: 85vw;
				max-width: none;
			}

			@media (max-width: 1024px) {
				max-width: none;
				width: 1500px;
			}

			@media (max-width: 768px) {
				width: 1250px;
			}

			@media (max-width: 425px) {
				width: 1200px;
			}
		}
	}

	&__truck {
		position: absolute;
		z-index: -1;
		max-width: 382px;
		left: 0;
		top: -60px;

		@media (max-width: 1024px) {
			max-width: 300px;
			top: -30px;
			left: -80px;
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 170px;

		@media (max-width: 1024px) {
			gap: 100px;
		}

		@media (max-width: 768px) {
			gap: 80px;
		}

		@media (max-width: 425px) {
			gap: 65px;
		}

		@media (max-width: 320px) {
			gap: 55px;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		max-width: 1025px;
		justify-content: space-between;
	}

	&__contact {
		@media (max-width: 1024px) {
			flex-direction: column;
			align-self: center;
			max-width: 550px;
			gap: 50px;
		}
	}

	&__quote {
		order: 1;
		max-width: 380px;
		padding: 20px 0 20px 40px;
		line-height: 3rem;
		color: $white;
		align-self: flex-end;
		margin-bottom: 70px;

		@media (max-width: 1024px) {
			order: 2;
			align-self: flex-start;
			margin-bottom: 0;
		}
	}

	&__form {
		order: 2;

		@media (max-width: 1024px) {
			order: 1;
		}
	}

	&__logo-img {
		max-width: 170px;
	}

	&__navigation {
		@media (max-width: 425px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 40px;
		}
	}

	&__nav-link {
		font-weight: 400;
		color: $white;
	}

	&__copyright {
		font-weight: 300;
	}
}
