* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;

	@media (min-width: 1680px) {
		font-size: 11px;
	}

	@media (max-width: 1024px) {
		font-size: 9.5px;
	}

	@media (max-width: 768px) {
		font-size: 8.5px;
	}
	@media (max-width: 425px) {
		font-size: 8px;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	color: $text;
	position: relative;
	background-color: $body-bg;
}

section {
	scroll-margin: 10rem;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* 

* Breakpoints for project

@media (min-width: 1680px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {	
}

*/
