/* Fonts  */
$font-dm: "DM Serif Display", serif;
$font-roboto: "Roboto", sans-serif;
$font-rubik: "Rubik", sans-serif;

/* Colors */
$white: #ffffff;
$text: #402b2b;
$primary-red: #ee4d47;
$red: #ed4d47;
$light-red: #fcddd4;
$light-grey: #fff7f5;
$body-bg: #fef8f5;
