.header {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100vw;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 76px;
		padding-top: 40px;
		font-weight: 700;
		letter-spacing: 0.08rem;

		@media (max-width: 768px) {
			padding-top: 30px;
		}
	}

	&__nav {
		margin-left: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
		transition: all 0.4s ease-out;

		&-link {
			color: $white;
		}

		@media (max-width: 768px) {
			position: fixed;
			flex-direction: column;
			background: rgba(64, 43, 43, 0.9);
			backdrop-filter: blur(5px);
			width: 100vw;
			height: 100vh;
			right: -100%;
			top: 0;
			z-index: 9;

			&-list {
				flex-direction: column;
				align-items: center;
			}

			&-link {
				font-size: 2rem;
			}

			&_open {
				right: 0;
			}
		}
	}
}
