.clients {
	margin-top: 170px;
	margin-bottom: 200px;
	display: flex;
	overflow: hidden;

	@media (max-width: 1024px) {
		flex-direction: column;
		gap: 20px;
	}

	&__container {
		padding: 20px;
	}

	&__content {
		flex: 0 0 100%;
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 40px;
		max-width: 300px;

		@media (max-width: 1024px) {
			max-width: 570px;
			margin: 0 auto;
			gap: 20px;
		}
	}

	&__slider {
		max-width: 1000px;
		padding: 0px 0 30px 20px;
		display: flex;
		flex-direction: column;
		gap: 60px;
		flex: 0 0 1000px;
		transform: translateX(-100%);

		@media (max-width: 1440px) {
			flex: 0 0 70%;
		}

		@media (max-width: 1024px) {
			flex: 0 0 100%;
			transform: translateX(0%);
			gap: 40px;
		}
	}

	&__slide {
		max-width: 420px;
		height: 360px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: $white;
		padding: 60px 50px 40px 50px;
		border-radius: 10px;
		box-shadow: 0px 20px 20px 0px rgba(238, 77, 71, 0.1);

		@media (max-width: 1440px) {
			padding: 50px 40px 30px 40px;
			height: 320px;
		}

		@media (max-width: 768px) {
			padding: 35px 30px 20px 30px;
			max-width: 360px;
			height: 260px;
		}

		@media (max-width: 320px) {
			max-width: 280px;
		}
	}

	&__text {
		font-weight: 300;
	}

	&__info {
		display: flex;
		align-items: center;
		margin-top: auto;
		gap: 20px;
	}

	&__photo {
		max-width: 60px;
	}

	&__fullname {
		font-family: $font-roboto;
		font-weight: 700;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 30px;
		margin-right: 25%;

		@media (max-width: 1024px) {
			margin-right: 10%;
		}
	}

	&__button-next,
	&__button-prev {
		position: relative;
		cursor: pointer;
		width: 29px;
		height: 12px;
	}

	&__button-prev {
		& img {
			transform: rotate(180deg);
		}
	}
}
